.nav_black{
    background-color: #111;
}

.nav_contents{
    display: flex;
    padding: 50px;
    top: 0px;
    width: 100%;
    position: fixed;
    transition-timing-function: ease-in;
    transition-duration: 0.25s;
    z-index: 1;
}

.nav_logo{
    height: 80px;
    top: 10px;
    width: height*1920/1080px;
    left: 20px;
    position: fixed;
    cursor: pointer;
    object-fit: contain;
}

.nav_avatar{
    width: 50px;
    top: 20px;
    height: width;
    position: fixed;
    right: 30px;
    cursor: pointer;
    object-fit: contain;
}