.row_category{
    font-weight: 600;
    font-size: 2rem;
}

.row_posters{
    display: flex;
    width: 100%;
    max-height: 240px;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 2;
}

.hide_row {
    opacity: 0;
}

.fade_row{
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.row_posters::-webkit-scrollbar{
    visibility: hidden;
}

.poster_image{
    width: 150px;
    height: 200px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.poster_image:hover{
    transform: scale(1.05)
}